div{
    width: 60vw;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div video{
    width: 100%;
    display: block;
    z-index: 500;
    position: relative;
}

#faceGuide{
    width: 100%;
    background-color:  red;
    position: absolute;
    height: 100%;
}

div button{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color:  #379EC1;
    border-radius: 2%;
    color: rgb(6, 69, 90);
    font-weight: bold;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2vh;
}

div button:hover{
    cursor: pointer;
    background-color:  rgb(96, 176, 202);
}



@media all and (max-width : 600px){
    div{
        width: 90vw;
    }
}